$darkest-color: #242930;
$dark-color: #353b43;
$light-color: #afbac4;
$lightest-color: #ffffff;
$primary-color: #57cc8a;

@import 'components/base';
@import 'components/app';
@import 'components/error_404';
@import 'components/icon';
@import 'components/pagination';
@import 'components/post';
@import 'components/posts_list';
@import 'components/tag';
@import 'components/tags_list';
@import 'extra';
