---
layout: layouts/list.njk
pagination:
  data: collections.tagPages
  size: 1
  alias: tagPage
permalink: "/tags/{{ tagPage.slug }}/{% if tagPage.pageNumber > 1 %}page/{{ tagPage.pageNumber }}/{% endif %}index.html"
eleventyComputed:
  listTitle: "{{ tagPage.tag }}"
---
{% from "partials/postlist.njk" import renderList %}
{%- set hrefs = [] -%}
{%- for n in range(1, tagPage.totalPages + 1) -%}
  {%- if n === 1 -%}
    {%- set _ = hrefs.push("/tags/" + tagPage.slug + "/") -%}
  {%- else -%}
    {%- set _ = hrefs.push("/tags/" + tagPage.slug + "/page/" + n + "/") -%}
  {%- endif -%}
{%- endfor -%}
{{ renderList(tagPage.posts, hrefs, tagPage.pageNumber) }}
