{{ define "main" }}
  <article>
    <ul class="posts-list">
      {{ range where .Paginator.Pages "Type" "!=" "page" }}
        <li class="posts-list-item">
          <a class="posts-list-item-title" href="{{ .Permalink }}">{{ .Title }}</a>
          <span class="posts-list-item-description">
            {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }}
            {{ .PublishDate.Format "Jan 2, 2006" }}

            <div id="buzzsprout-player-{{ .Params.episodeId }}"></div>
            <script src="https://www.buzzsprout.com/978640/{{ .Params.episodeId }}-hello-world.js?container_id=buzzsprout-player-{{ .Params.episodeId }}&player=small" type="text/javascript" charset="utf-8"></script>
          </span>
        </li>
      {{ end }}
    </ul>
    {{ partial "pagination.html" $ }}
  </article>
{{ end }}
