.main-title, .post-title {
  font-size: 2.5em;
}

.posts-list-item-title {
    font-size: 1.5em;
}

#listen-on {
  margin-top: 20px;
}

.listen-on-icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("/images/listen-on.svg");
}

.spotify-icon {
  width: 33px;
  height: 36px;
  background-position: 0 -48px;
}

.rss-feed-icon {
  width: 33px;
  height: 36px;
  background-position: 0 -296px;
}

.apple-icon {
  width: 33px;
  height: 36px;
  background-position: 0 2px;
}

.pocketcasts-icon {
  width: 33px;
  height: 36px;
  background-position: 0 -397px;
}

.stitcher-icon {
  width: 33px;
  height: 36px;
  background-position: 0 -141px;
}

.podcastaddict-icon {
  width: 33px;
  height: 36px;
  background-position: 0 -651px;
}

.podchaser-icon {
  width: 33px;
  height: 36px;
  background-position: 0 -546px;
}

.google-icon {
  width: 33px;
  height: 36px;
  background-position: 0 -97px;
}

/* Buy me a coffee */

#bmc-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.bmc-button img {
    height: 34px !important;
    width: 35px !important;
    margin-bottom: 1px !important;
    box-shadow: none !important;
    border: none !important;
    vertical-align: middle !important;
}

.bmc-button {
    padding: 7px 15px 7px 10px !important;
    line-height: 35px !important;
    height: 51px !important;
    text-decoration: none !important;
    display: inline-flex !important;
    color: #ffffff !important;
    background-color: #5F7FFF !important;
    border-radius: 5px !important;
    border: 1px solid transparent !important;
    padding: 7px 15px 7px 10px !important;
    font-size: 20px !important;
    letter-spacing: 0.6px !important;
    box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;
    -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
    margin: 0 auto !important;
    font-family: 'Arial', cursive !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

.bmc-button:hover, .bmc-button:active, .bmc-button:focus {
    -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
    text-decoration: none !important;
    box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
    opacity: 0.85 !important;
    color: #ffffff !important;
}

.app-header-avatar {
    border: 0px;
    border-radius: 0%;
}

.tags-list-item-custom {
    list-style: none;
    padding: 2px 5px;
    font-size: 1.0em;
}

.tags-list-custom {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
