<div class="side-tags">
  {%- for item in collections.tagStats.items.slice(0, 10) %}
  <a class="side-tag" href="{{ item.tag | tagUrl }}">#{{ item.tag }}</a>
  {%- endfor %}
  <a class="side-tag" href="/tags/">all tags &rsaquo;</a>
</div>
