<script src="https://giscus.app/client.js"
        data-repo="dracan/unhandledexceptionpodcast-comments"
        data-repo-id="{{ .Site.Params.giscusRepoId }}"
        data-category="Comments"
        data-category-id="{{ .Site.Params.giscusCategoryId }}"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="dark_dimmed"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
