<div id="listen-on">
  <a class="listen-on-icon rss-feed-icon" target="_blank" rel="noopener noreferrer" href="https://feeds.buzzsprout.com/978640.rss" aria-label="RSS Feed"></a>
  <a class="listen-on-icon apple-icon" target="_blank" rel="noopener noreferrer" href="https://podcasts.apple.com/gb/podcast/the-unhandled-exception-podcast/id1536194837" aria-label="Apple Podcasts"></a>
  <a class="listen-on-icon spotify-icon" target="_blank" rel="noopener noreferrer" href="https://open.spotify.com/show/2DgUE1Iyl9cZxzzvUUIPBK" aria-label="Spotify"></a>
  <a class="listen-on-icon youtube-icon" target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/@UnhandledExceptionPodcast/podcasts" aria-label="YouTube"></a>
  <br/>
  <a class="listen-on-icon pocketcasts-icon" target="_blank" rel="noopener noreferrer" href="https://play.pocketcasts.com/podcasts/63c68d60-f59a-0138-e82d-0acc26574db2" aria-label="Pocket Casts"></a>
  <a class="listen-on-icon podcastaddict-icon" target="_blank" rel="noopener noreferrer" href="https://podcastaddict.com/podcast/3143967" aria-label="Podcast Addict"></a>
  <a class="listen-on-icon podchaser-icon" target="_blank" rel="noopener noreferrer" href="https://www.podchaser.com/podcasts/the-unhandled-exception-podcas-1519582" aria-label="Podchaser"></a>
</div>