<div id="listen-on">
  <a class="listen-on-icon rss-feed-icon" target="_blank" href="https://feeds.buzzsprout.com/978640.rss"></a>
  <a class="listen-on-icon apple-icon" target="_blank" href="https://podcasts.apple.com/gb/podcast/the-unhandled-exception-podcast/id1536194837"></a>
  <a class="listen-on-icon spotify-icon" target="_blank" href="https://open.spotify.com/show/2DgUE1Iyl9cZxzzvUUIPBK"></a>
  <a class="listen-on-icon google-icon" target="_blank" href="https://podcasts.google.com/feed/aHR0cHM6Ly9mZWVkcy5idXp6c3Byb3V0LmNvbS85Nzg2NDAucnNz0j"></a>
  <br/>
  <a class="listen-on-icon pocketcasts-icon" target="_blank" href="https://play.pocketcasts.com/podcasts/63c68d60-f59a-0138-e82d-0acc26574db2"></a>
  <a class="listen-on-icon stitcher-icon" target="_blank" href="https://www.stitcher.com/podcast/the-unhandled-exception-podcast"></a>
  <a class="listen-on-icon podcastaddict-icon" target="_blank" href="https://podcastaddict.com/podcast/3143967"></a>
  <a class="listen-on-icon podchaser-icon" target="_blank" href="https://www.podchaser.com/podcasts/the-unhandled-exception-podcas-1519582"></a>
</div>